body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    box-sizing: border-box;
    align-items: center;
    background-image: linear-gradient(to bottom right, #73e2e4, 
    #98cd91 );
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    margin: 30px;
    text-align: center;
}



.box {
    border: 0.5px solid;
    border-radius: 3px;
    box-shadow: 0px 2px 8px #808080;
    background-color: #a1e497 ;
    padding: 30px;
    margin: auto;
    margin-top: 140px;
    text-align: center;
    justify-content: center;
    gap: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.box > label, button {
    display: block;
    margin-bottom: 8px;
}

button {
    margin: 15px auto;
}

#submit {
    padding: 5px;
    background-color: #514d47;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#age-result {
    font-size: 1.3em;
    text-align: center;
    margin-top: 20px;
}